email=info@acadalearning.com
##always-auth=true
//15.223.48.179:8081/repository/atb-app/:_authToken=YWRtaW46YWRtaW4xMjM=
//15.223.48.179:8081/repository/atb-app/:username=admin
//15.223.48.179:8081/repository/atb-app/:_password=admin123
allowRepublish=true
##this is the encode

